.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-contents {
  display: flex;
}

.App-routemap-div {
  flex: 1 0 25%;
}
.App-routemap {
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  vertical-align: middle;
  position: relative;
}
.App-routemap li {
  list-style: none;
  vertical-align: middle;
  display: flex;
  padding-bottom: 20px;
}

.App-routemap li .description {
  /*transform: rotate(-10deg);
  transform-origin: 0% 50%;*/
}
.App-routemap li a {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /*transform: rotate(-10deg);
  transform-origin: 0% 50%;*/
}
.App-routemap li a .details {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: black;
  border: 1px solid black;
}
.App-routemap li a:hover {
  color: #37A;
  text-decoration: none;
}
.App-routemap li a:hover .details {
  height: 100px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.App-routemap li .listbullet {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius:50%;
  margin-right: 10px;
}
